@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
	font-family: 'Inter', sans-serif;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}


[class*=__container] {
	max-width: 1470px;
	padding: 30px 15px;
	background: brown;
	margin: 0 auto;
	position: fixed;
}

.header__nawbar {
	display: inline-block;
}

.header__logo {
	display: inline-block;
}

.header__menu {
	display: inline-block;

}

.header__list {
	display: inline-block;
}

.list__items {
	display: inline-block;
}

.header__items {
	display: inline-block;
}

.header__items>div {
	display: inline-block;

}



.header__menu {
	position: relative;
}



.header__menu:hover .menu__list {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.menu__list {
	position: absolute;
	top: 100%;
	left: 0;
	border: 0.5px solid #E7E7E7;
	border-radius: 5px;
	padding: 24px;
	z-index: 2;
	min-width: 180px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s;
	font-weight: 500;
	padding: 22px 24px;
	background: #FFFFFF;
}



.menu__item-one:hover .all__menu {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.all__menu {
	position: absolute;
	top: 12%;
	left: 100%;
	border: 0.5px solid #E7E7E7;
	border-radius: 5px;
	padding-left: 30px;
	/* padding: 15px; */
	z-index: 2;
	min-width: 180px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	font-weight: 500;
	padding: 30px;
	background: #FFFFFF;
}

.all__menu {
	display: inline-block;
}

.menu__sub-menu-one {
	display: inline-block;
}

.menu__sub-menu-two {
	display: inline-block;
}



/* позиціонування блоків */

.header__logo {
	margin-right: 45px;

}

.header__img {
	vertical-align: middle;
}

.header__menu {
	margin-right: 45px;
	padding: 15px 20px;
	background: #f4f7ff;
	border-radius: 5px;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: #212B36;
}

/* доробити стрілку вниз */
.header__menu::after {
	content: "";
	width: 0px;
	height: 0px;
	border-top: 10px solid #212b36;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.list__items:not(:last-child) {
	margin-right: 35px;
}

.list__items:last-child {
	margin-right: 154px;
}

.header__list {
	padding-top: 3px;
	padding-bottom: 4px;
}

.list__items {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.18;

}

.list__items:nth-child(01) {
	color: #3056d3;
}

.header__items {}

.header__search {
	margin-right: 20px;
}

.header__like {
	margin-right: 20px;
}

.menu__items {
	color: #637381;
}

.menu__items:hover {
	color: #3056d3;
}


.sub-menu__items {
	color: #637381;
}

.sub-menu__items:hover {
	color: #3056d3;
}