@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');





[class*=__container] {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}



/* стиль вертикальної полоски перед пошуком */

.vertical-line {
	width: 1px;
	height: 17px;
	border: 1px solid #E5E5E5;
	display: inline-block;
}


.link a {
	display: inline-block;
	vertical-align: middle;
}







/* стилизуем линию перед цифрами на слайдере */

.slider__pages * {
	display: inline-block;
	vertical-align: middle;
}



.slider__line {
	width: 44px;
	height: 0px;
	border: 0.5px solid #F8F9FA;
}

.slider__count {
	color: #E5E5E5;
}




/* background foto */
.slider__container {
	background: url("../img/background/background_min.png") 0 0 no-repeat;
	min-height: 500px;
}



.main__picture {
	background: url("../img/img_10.webp") 0 0 no-repeat;
	min-height: 450px;
}


.main__foto {
	background: url("../img/img_11.webp") 0 0 no-repeat;
	min-height: 450px;
}


.items-main__foto {
	background: url("../img/img_12.webp") 0 0 no-repeat;
	min-height: 450px;
}


.items-main__picture {
	background: url("../img/img_13.webp") 0 0 no-repeat;
	min-height: 450px;
}

.items-main__foto-two {
	background: url("../img/img_14.webp") 0 0 no-repeat;
	min-height: 450px;
}