@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");


body {
	background-color: #E5E5E5;
}

h1,
h2 {
	color: #212529;
	font-family: "poppins";
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
}



main {
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
}



p {
	color: #6C757D;
	font-family: "Poppins";
	font-weight: 300;
	font-size: 14px;
	line-height: 1.78;
}

.margin-top-bottom {
	margin-top: 23px;
	margin-bottom: 23px;
}

.margin-bottom {
	margin-bottom: 23px;
}

.top {
	max-width: 816px;
	margin: 0 auto;

}

.center {
	max-width: 816px;
	margin: 0 auto;
	margin-bottom: 80px;
}

#start {
	margin-bottom: 40px;
	max-width: 400px;

}

.content {
	margin-bottom: 80px;
	line-height: 10px;
}

.foto-all {
	margin: 0 auto;
	max-width: 1240px;
	margin-bottom: 80px;
}


.life {
	max-width: 605px;
	margin-bottom: 40px;


}

.content_box {}

.images {
	max-width: 1240px;
	margin: 0 auto;
	margin-bottom: 80px;
	font-size: 0;
}

.image_2,
.image_3 {
	display: inline-block;

}

.image_3 {
	margin-left: 30px;
}

.size {
	max-width: 100%;
}

.bottom-text {
	max-width: 816px;
	margin: 0 auto;
	margin-bottom: 60px;
}




footer {
	max-width: 1240px;
	margin: 0 auto;
	font-size: 0;
}

footer>p {
	font-family: serif;
	font-weight: 300;
	background-color: aquamarine;
	max-width: 300px;
	max-height: 300px;
	padding: 10px 20px;
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

.hidden {
	text-transform: uppercase;
	overflow: hidden;
}

.visible {
	text-decoration: line-through;
	overflow: visible;
}

.auto {

	text-transform: lowercase;
	overflow: auto;
}

a {
	font-weight: 700;
	font-size: 30px;
	color: blueviolet;
}